@model ET.Users

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';
        if (flag == "UPDATE")
        {
            opener.location.reload();
            window.close();
        }
    });
</script>

<div class="col text-center heading-section ftco-animate animated fadeInUp">
    <h2 class="mb-0 mt-3"><span class="px-4"><i class="fas fa-users"></i> @ViewBag.Title</span></h2>
    <span class="subheading">Editar Rol</span>
</div>
<div class="ftco-animate animated fadeInUp">
    <article class="card-body py-0">
        <h3 class="m-3">
            <i class="fas fa-user-tag"></i>
            Usuario:
            <span style="color:blue">@Model.FullName</span>
        </h3>
        @using (Html.BeginForm("Edit", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger m-0" })
                @Html.HiddenFor(x => x.UserID)
                @Html.HiddenFor(x => x.UserName)
                @Html.HiddenFor(x => x.FullName)
                @Html.HiddenFor(x => x.ActiveFlag)
                @Html.HiddenFor(x => x.Email)
               
                <div class="form-group">
                    <div class="col-md-10 d-flex justify-content-between">
                        @Html.LabelFor(model => model.RoleID, htmlAttributes: new { @class = "control-label m-0", @style = "max-width: 100%;" })
                    </div>
                    <div class="col-md-10">
                        @Html.DropDownListFor(model => model.RoleID, new SelectList(Model.RolesList, "RoleID", "RoleName"), new { @class = "custom-select" })
                        @Html.ValidationMessageFor(model => model.RoleID, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                    </div>
                </div>
            </div>
        }
    </article>
</div>