@model PagedList.IPagedList<ET.Users>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Usuarios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>
<script type="text/javascript">
    function Activate(UserID) {
        $.ajax({
            url: '@Url.Action("ChangeStatus")',
            data: { id: UserID }
        }).done(function () { location.reload(); });
    }
    function Desactivate(UserID) {
        var x = confirm("Esta seguro que quiere deshabilitar este Usuario???");
        if (x) {
            $.ajax({
                url: '@Url.Action("ChangeStatus")',
                data: { id: UserID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
    function RemoveUG(userID,groupID) {
        var x = confirm("Esta seguro que quiere desvincular a este usuario de esta area???");
        if (x) {
            $.ajax({
                url: '@Url.Action("RemoveUG")',
                data: { UserID: userID, GroupID: groupID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
    function ResetPassword(userID) {
        var x = confirm("Esta seguro que quiere restablecer la contraseña de este usuario???");
        if (x) {
            $.ajax({
                url: '@Url.Action("AdminResetPassword")',
                data: { id: userID }
            }).done(function () { alert('Hecho!!!'); });
        }
    }
    function AddNew() {
        var url = '@Url.Action("AddNew")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewNote() {
        var url = '@Url.Action("AddNew", "Notes")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewAll() {
        var url = '@Url.Action("AddNewAll", "Notes")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewNotebyID(ID) {
        var url = '@Url.Action("AddNewByUser", "Notes", new { id = "UserID"})';
        url = url.replace("UserID", ID);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function Edit(UserID) {
        var url = '@Url.Action("Edit", new { id = "userid" })';
        url = url.replace("userid", UserID);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewUG(userid) {
        var url = '@Url.Action("AddGroup", new { id = "UserID"})';
        url = url.replace("UserID", userid);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
</script>

<section class="hp-section">
    <div class="container">
        <div class="row justify-content-start">
            <h2 class="heading-section font-weight-bold my-2 p-0">@ViewBag.Title</h2>
        </div>
        @using (Html.BeginForm("Index", "Users", FormMethod.Get))
        {
            <div class="row justify-content-start">
                <div class="form-group input-group p-0 searchfield w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text w"><i class="fas fa-search"></i></span>
                    </div>
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Buscar" })
                </div>
                <input type="submit" value="Buscar" class="btn btn-dark alt mt-0 mb-2" style="height: 2.75rem !important;" />
            </div>
        }
        <div class="row justify-content-start">
            <div class="row">
                <p class="m-0 p-0">Total de usuarios registrados: <spam>@ViewBag.UsersCount</spam></p>
            </div>
            <table class="table-responsive-xl align-content-center p-0 m-0">
                <tbody>
                    <tr class="align-middle">
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().FullName)</th>
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().UserName)</th>
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().RoleName)</th>
                        <th class="text-center py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().ActiveFlag)</th>
                        @if (ViewBag.WriteRight == true)
                        {
                            <th colspan="5" class="text-center py-2 align-middle">Acción</th>
                        }
                    </tr>

                    @foreach (var item in Model)
                    {
                        var modalname = "ModalCenter" + item.UserID.ToString();

                        <tr>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.FullName)</td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.UserName)</td>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.RoleName)</td>
                            @{
                                var Editflag = "EditFlag" + item.UserID.ToString();
                            }
                            <td class="text-center align-middle">

                                @if (item.ActiveFlag == false)
                                {
                                    <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $("#@Editflag").hover(function () {
                                                        $(this).removeClass('fas fa-times-circle fa-1x DisactiveColor');
                                                        $(this).addClass('fas fa-check-circle fa-1x ActiveColor');
                                                    }, function () {
                                                        $(this).removeClass('fas fa-check-circle fa-1x ActiveColor');
                                                        $(this).addClass('fas fa-times-circle fa-1x DisactiveColor');
                                                    });
                                                });
                                    </script>
                                    <a href="#" class="card-link m-1" onclick="Activate(@item.UserID)" title="Habilitar" style="color: #444444 !important;">
                                        <i id="@Editflag" class="fas fa-times-circle fa-1x DisactiveColor" ></i> Inactivo
                                    </a>
                                }
                                else
                                {
                                    <script type="text/javascript">
                                                $(document).ready(function () {
                                                    $("#@Editflag").hover(function () {
                                                        $(this).removeClass('fas fa-check-circle fa-1x ActiveColor');
                                                        $(this).addClass('fas fa-times-circle fa-1x DisactiveColor');
                                                    }, function () {
                                                        $(this).removeClass('fas fa-times-circle fa-1x DisactiveColor');
                                                        $(this).addClass('fas fa-check-circle fa-1x ActiveColor');
                                                    });
                                                });
                                    </script>
                                    <a href="#" class="card-link m-1" onclick="Desactivate(@item.UserID)" title="Deshabilitar" style="color: #444444 !important;">
                                        <i id="@Editflag" class="fas fa-check-circle fa-1x ActiveColor" ></i> Activo
                                    </a>
                                }

                            </td>
                            @if (ViewBag.WriteRight == true)
                            {
                                <td class="text-center align-middle px-0">
                                    <a href='@Url.Action("Profile", new { id = item.UserID })' target="_blank" class="card-link m-0" onclick="Details(@item.UserID)" title="Detalles">
                                        <i class="fas fa-user-circle fa-1x mx-2" style="vertical-align: middle; color: #444444;"></i>
                                    </a>
                                </td>
                                <td class="text-center align-middle px-0">
                                    <a href="#" class="card-link m-0" onclick="Edit(@item.UserID)" title="Asignar nuevo rol">
                                        <i class="fas fa-user-edit fa-1x mx-2" style="vertical-align: middle; color: #444444;"></i>
                                    </a>                                    
                                </td>
                                <td class="text-center align-middle px-0">
                                    <a href="#" class="card-link m-0" onclick="ResetPassword(@item.UserID)" title="Restablecer Contraseña">
                                        <span class="fas fa-key fa-1x mx-2" style="vertical-align: middle; color: #444444;"></span>
                                    </a>
                                </td>
                                <td class="text-center align-middle px-0">
                                    <a href="#" class="card-link m-0" title="Involucrados">
                                        <span class="fas fa-users fa-1x mx-2" data-toggle="modal" data-target='#@modalname' style="vertical-align: middle; color: #444444;"></span>
                                    </a>
                                </td>
                                <td class="text-center align-middle px-0">
                                    <a href="#" class="card-link m-0" onclick="AddNewNotebyID(@item.UserID)" title="Enviar Mensaje">
                                        <span class="fas fa-comment-medical fa-1x mx-2" style="vertical-align: middle; color: #444444;"></span>
                                    </a>
                                </td>
                            }
                        </tr>

                    }
                </tbody>
            </table>
        </div>
        @foreach (var item in Model)
        {
            var modalname = "ModalCenter" + item.UserID.ToString();

            <div class="modal fade" id="@modalname">
                <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <div class="card bg-light">
                                <article class="card-body">
                                    <h3 class="mt-3 mb-1">
                                        <i class="fa fa-tags"></i>
                                        Usuario:
                                        <span style="color:blue">@item.FullName</span>
                                    </h3>
                                    <hr />
                                    @if (item.GroupList.Count >= 1)
                                    {
                                        <div class="tagcloud mt-2">
                                            @foreach (var r in item.GroupList)
                                            {
                                                <a href="#" class="text-decoration-none" style="font-size: 15px;" onclick="RemoveUG(@item.UserID,@r.GroupID)">@r.GroupName <i class="fas fa-times"></i></a>
                                            }
                                        </div>
                                    }
                                    else
                                    {
                                        <p class="my-2">Aún no esta involucrado en ninguna área.</p>
                                    }
                                    <hr />
                                    @if (ViewBag.WriteRight == true)
                                    {
                                        <div class="mt-2" style="inline-size: max-content;">
                                            <a href='#' title="Agregar Area" class="btn btn-light" style="text-decoration: none;" onclick='AddNewUG(@item.UserID)'><i class="fas fa-plus-square fa-1x"></i> Agregar área</a>
                                        </div>
                                    }
                                </article>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row justify-content-start">
            @if (Model.PageCount > 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions() { ContainerDivClasses = new string[] { "p-0" }, UlElementClasses = new string[] { "pagination m-0" } })
            }
        </div>
        @if (ViewBag.WriteRight == true)
        {
            <div class="row">
                <div class="p-0">
                    <div class="media services d-block text-justify">
                        <div class="media-body py-2 mt-3">
                            <div class="d-flex justify-content-between">
                                <a href="#" onclick="AddNew()" title="Agregar un nuevo Usuario" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Agregar un nuevo Usuario</a>
                                <a href="#" onclick="AddNewNote()" title="Agregar Mensaje Grupal" class="btn btn-light mx-2" style="text-decoration: none;"><i class="fas fa-comment-medical fa-1x"></i> Agregar Mensaje Grupal</a>
                                <a href="#" onclick="AddNewAll()" title="Agregar Mensaje a Todos" class="btn btn-light mx-2" style="text-decoration: none;"><i class="fas fa-comment-medical fa-1x"></i> Agregar Mensaje a Todos</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>