@model ET.UserProfile

@{
    ViewBag.Title = "Perfil";
    Layout = ViewBag.Layout;
}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                document.getElementById('SaveOptions').style.display = 'block';
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
<div class="col text-center heading-section ftco-animate animated fadeInUp">
    <h2 class="mb-0 mt-3"><span class="px-4">Perfil - @Model.FullName</span></h2>    
</div>
<div class="hp-section ftco-animate animated fadeInUp">
    <div class="container">
        <div class="row">
            <div class="col-sm-3">
                <div class="text-center">

                    @if (Model.PhotoData == null)
                    {
                        if (ViewBag.Write == true)
                        {
                            using (Html.BeginForm("UpdatePhoto", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(model => model.UserID)
                                <div class="profile-img">
                                    <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-thumbnail w-100" alt="avatar" />
                                    <div class="file btn btn-lg btn-primary w-100">
                                        Cambiar Foto
                                        <input id="file" type="file" name="file" class="file-upload">
                                    </div>
                                </div>
                                <div id="SaveOptions" style="display:none;">
                                    <input type="submit" value="&#xf00c;" class="fa-input btn btn-dark alt mb-2" style="margin-top:-10%; font-size: 2rem; color:forestgreen !important;" />
                                    <input type="button" value="&#xf00d;" class="fa-input btn btn-dark alt mb-2" style="margin-top:-10%; font-size: 2rem; color:darkred !important;" onclick="javascript: location.reload();" />
                                </div>
                            }
                        }
                        else
                        {
                            <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="img-thumbnail" alt="avatar" />
                        }
                    }
                    else
                    {
                        var base64 = Convert.ToBase64String(Model.PhotoData, 0, Model.PhotoData.Length);
                        var imgSrc = string.Format("data:image/{0};base64,{1}", Model.PhotoExt, base64);

                        if (ViewBag.Write == true)
                        {
                            using (Html.BeginForm("UpdatePhoto", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                            {
                                @Html.HiddenFor(model => model.UserID)
                                <div class="profile-img">
                                    <img src="@imgSrc" class="avatar img-thumbnail w-100" alt="avatar" />
                                    <div class="file btn btn-lg btn-primary w-100">
                                        Cambiar Foto
                                        <input id="file" type="file" name="file" class="file-upload">
                                    </div>
                                </div>
                                <div id="SaveOptions" style="display:none;">
                                    <input type="submit" value="&#xf00c;" class="fa-input btn btn-dark alt mb-2" style="margin-top:-10%; font-size: 2rem; color:forestgreen !important;" />
                                    <input type="button" value="&#xf00d;" class="fa-input btn btn-dark alt mb-2" style="margin-top:-10%; font-size: 2rem; color:darkred !important;" onclick="javascript: location.reload();" />
                                </div>
                            }
                        }
                        else
                        {
                            <img src="@imgSrc" class="img-thumbnail" alt="avatar" />
                        }
                    }
                </div>
                <div class="panel panel_wrapper">
                    <ul class="list-group">
                        <li class="list-group-item text-center" style="background-color:lightgrey;">
                            <strong>ACTIVIDAD</strong>
                        </li>
                        <li class="list-group-item text-center"><span><strong>Registro</strong></span> @Model.CreationDate.ToString("dd/MM/yyyy")</li>
                        <li class="list-group-item text-center"><span><strong>Mas Reciente</strong></span> @Model.LastActivityDate.ToString("dd/MM/yyyy")</li>
                    </ul>
                </div>

            </div>
            <div class="col-sm-9 mt-2">
                <nav>
                    <div class="nav nav-tabs" id="nav-tab" role="tablist">
                        <a class="nav-item nav-link font-weight-bold active" id="nav-maininfo-tab" data-toggle="tab" href="#MainInfo" role="tab" aria-controls="MainInfo" aria-selected="true">Principal</a>
                        <a class="nav-item nav-link font-weight-bold" id="nav-contactinfo-tab" data-toggle="tab" href="#ContactInfo" role="tab" aria-controls="ContactInfo" aria-selected="false">Contacto</a>
                        <a class="nav-item nav-link font-weight-bold" id="nav-rsinfo-tab" data-toggle="tab" href="#RSInfo" role="tab" aria-controls="RSInfo" aria-selected="false">Redes Sociales</a>
                    </div>
                </nav>
                <div class="tab-content">
                    <div class="tab-pane fade show active" id="MainInfo" role="tabpanel" aria-labelledby="nav-maininfo-tab">
                        <div class=" form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.FullName)
                                @Html.EditorFor(model => model.FullName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.UserName)
                                @Html.EditorFor(model => model.UserName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.Email)
                                @Html.EditorFor(model => model.Email, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-xs-6">
                                @Html.LabelFor(model => model.RoleName)
                                @Html.EditorFor(model => model.RoleName, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                            </div>
                        </div>
                        <div class=" form-group">
                            <div class="col-xs-6">
                                @Html.Label("Involucrado en:")
                                <div id="tagListName" class="tagcloud">
                                </div>
                                <script type="text/javascript">
                                        var tags = "@ViewBag.Groups";
                                        var array = tags.split(",");
                                        array.forEach(InsertValue);

                                    function InsertValue(item) {
                                        if (item.length >= 1) {
                                            var tagDiv = document.getElementById("tagListName");
                                            tagDiv.innerHTML += '<a style="font-size: 15px;">' + item + "</a>";
                                        }
                                    }
                                </script>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="ContactInfo" role="tabpanel" aria-labelledby="nav-contactinfo-tab">
                        @using (Html.BeginForm("UpdateContactInfo", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.UserID)
                            <div class=" form-group">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Country)
                                    @if (ViewBag.Write == true)
                                    {
                                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Country, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Country, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    }
                                </div>
                            </div>
                            <div class=" form-group">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.State)
                                    @if (ViewBag.Write == true)
                                    {
                                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.State, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.State, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    }
                                </div>
                            </div>
                            <div class=" form-group">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.City)
                                    @if (ViewBag.Write == true)
                                    {
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.City, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    }
                                </div>
                            </div>
                            <div class=" form-group">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Phone)
                                    @if (ViewBag.Write == true)
                                    {
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Phone, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Phone, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    }
                                </div>
                            </div>
                            <div class=" form-group">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Mobile)
                                    @if (ViewBag.Write == true)
                                    {
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control" } })
                                        @Html.ValidationMessageFor(model => model.Mobile, "", new { @class = "text-danger" })
                                    }
                                    else
                                    {
                                        @Html.EditorFor(model => model.Mobile, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                    }
                                </div>
                            </div>
                            if (ViewBag.Write == true)
                            {
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                    <div class="tab-pane fade" id="RSInfo" role="tabpanel" aria-labelledby="nav-rsinfo-tab">
                        @using (Html.BeginForm("UpdateSNInfo", "Users", FormMethod.Post, new { enctype = "multipart/form-data" }))
                        {
                            @Html.HiddenFor(model => model.UserID)
                            <div class=" form-group mb-0">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Facebook)
                                </div>
                            </div>
                            <div class=" form-group input-group">
                                <div class="input-group-prepend">
                                    <a href="@Model.Facebook" target="_blank" class="input-group-text text-decoration-none">
                                        <i class="fab fa-facebook"></i>
                                    </a>
                                </div>
                                @if (ViewBag.Write == true)
                                {
                                    @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Facebook, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Facebook, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                }
                            </div>
                            <div class=" form-group mb-0">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Twitter)
                                </div>
                            </div>
                            <div class=" form-group input-group">
                                <div class="input-group-prepend">
                                    <a href="@Model.Twitter" target="_blank" class="input-group-text text-decoration-none">
                                        <i class="fab fa-twitter"></i>
                                    </a>
                                </div>
                                @if (ViewBag.Write == true)
                                {
                                    @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Twitter, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Twitter, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                }
                            </div>
                            <div class=" form-group mb-0">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Snapchat)
                                </div>
                            </div>
                            <div class=" form-group input-group">
                                <div class="input-group-prepend">
                                    <a href="@Model.Snapchat" target="_blank" class="input-group-text text-decoration-none">
                                        <i class="fab fa-snapchat"></i>
                                    </a>
                                </div>
                                @if (ViewBag.Write == true)
                                {
                                    @Html.EditorFor(model => model.Snapchat, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Snapchat, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Snapchat, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                }
                            </div>
                            <div class=" form-group mb-0">
                                <div class="col-xs-6">
                                    @Html.LabelFor(model => model.Instragram)
                                </div>
                            </div>
                            <div class=" form-group input-group">
                                <div class="input-group-prepend">
                                    <a href="@Model.Instragram" target="_blank" class="input-group-text text-decoration-none">
                                        <i class="fab fa-instagram"></i>
                                    </a>
                                </div>
                                @if (ViewBag.Write == true)
                                {
                                    @Html.EditorFor(model => model.Instragram, new { htmlAttributes = new { @class = "form-control" } })
                                    @Html.ValidationMessageFor(model => model.Instragram, "", new { @class = "text-danger" })
                                }
                                else
                                {
                                    @Html.EditorFor(model => model.Instragram, new { htmlAttributes = new { @class = "form-control", disabled = "disabled" } })
                                }
                            </div>
                            if (ViewBag.Write == true)
                            {
                                <div class="form-group">
                                    <div class="col-xs-6">
                                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>