@model PagedList.IPagedList<ET.Enrollments>
@using PagedList.Mvc;

@{
    ViewBag.Title = "Matrículas";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>
<script type="text/javascript">

    function AddNew() {
        var url = '@Url.Action("Add")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewUser(id) {
        var url = '@Url.Action("EnrollUser", new { id = "EnrollmentID" })';
        url = url.replace("EnrollmentID", id);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function UsersDetails(id) {
        var url = '@Url.Action("EnrolledUsers", new { id = "EnrollmentID" })';
        url = url.replace("EnrollmentID", id);
        window.open(url, '_blank' , 'left=100,top=100,width=1000,height=650,toolbar=1,resizable=0');
    }
    function Desactivate(EnrollmentID) {
        var x = confirm("Esta seguro que quiere eliminar este curso???");
        if (x) {
            $.ajax({
                url: '@Url.Action("RemoveEnrollment")',
                data: { id: EnrollmentID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
    function RemoveUser(RegisterID) {
        var x = confirm("Esta seguro que quiere eliminar Usuario de este curso???");
        if (x) {
            $.ajax({
                url: '@Url.Action("RemoveUser")',
                data: { id: RegisterID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
    function Approve(EnrollmentID) {
        var x = confirm("Esta seguro que quiere aprobar esta matrícula???");
        if (x) {
            $.ajax({
                url: '@Url.Action("ApproveEnrollment")',
                data: { id: EnrollmentID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
</script>

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>

<section class="hp-section ftco-animate animated fadeInUp">
    <div class="container">
        <div class="col p-0 text-center heading-section ftco-animate animated fadeInUp">
            <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
            <span class="subheading">Indice y Manejo de Matrículas</span>
        </div>
        @using (Html.BeginForm("Index", "Enrollments", FormMethod.Get))
        {
            <div class="row justify-content-start">
                <div class="form-group input-group p-0 searchfield w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text w"><i class="fas fa-search"></i></span>
                    </div>
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Buscar" })
                </div>
                <input type="submit" value="Buscar" class="btn btn-dark alt mt-0 mb-2" style="height: 2.75rem !important;" />
            </div>
        }
        <div class="row justify-content-start">
            <table class="table-responsive-xl align-content-center p-0 m-0">
                <tbody>
                    <tr class="align-middle">
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().GroupName)</th>
                        <th class="py-2 align-middle text-center">@Html.DisplayNameFor(model => model.FirstOrDefault().OpenRegister)</th>
                        <th class="py-2 align-middle text-center">@Html.DisplayNameFor(model => model.FirstOrDefault().CloseRegister)</th>
                        <th class="py-2 align-middle text-center">@Html.DisplayName("Total Matriculados")</th>
                        <th colspan="3" class="text-center py-2 align-middle">Acción</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        var modalname = "ModalCenter" + item.EnrollmentID.ToString();

                        <tr>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.GroupName)</td>
                            <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.OpenRegister)</td>
                            <td class="align-middle text-center">@Html.DisplayFor(modelItem => item.CloseRegister)</td>
                            <td class="align-middle text-center">@item.UserList.Count().ToString()</td>
                            @{
                                var Editflag = "EditFlag" + item.EnrollmentID.ToString();
                            }
                            @if (item.ApprovalFlag == true)
                            {
                                <td class="text-center align-middle px-1"></td>
                                <td class="text-center align-middle px-1">
                                    <a href="#" class="card-link m-1" onclick="UsersDetails(@item.EnrollmentID)" title="Matriculados" style="color: #444444 !important;">
                                        <i class="fas fa-users fa-1x mx-2" style="vertical-align: middle;"></i>
                                    </a>
                                </td>

                                <td class="text-center align-middle px-1"></td>
                            }
                            else
                            {
                                <td class="text-center align-middle px-1">
                                    <a href="#" class="card-link m-1" onclick="Desactivate(@item.EnrollmentID)" title="Eliminar Matrícula" style="color: #444444 !important;">
                                        <i class="fas fa-times-circle fa-1x" style="vertical-align: middle;"></i>
                                    </a>
                                </td>
                                <td class="text-center align-middle px-1">
                                    <a href="#" class="card-link m-1" onclick="UsersDetails(@item.EnrollmentID)" title="Matriculados" style="color: #444444 !important;">
                                        <i class="fas fa-users fa-1x mx-2" style="vertical-align: middle;"></i>
                                    </a>
                                </td>

                                <td class="text-center align-middle px-1">
                                    <a href="#" class="card-link m-1" onclick="Approve(@item.EnrollmentID)" title="Aprobar Matrícula" style="color: #444444 !important;">
                                        <i class="fas fa-check-square fa-1x" style="vertical-align: middle;"></i>
                                    </a>
                                </td>

                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>

        <div class="row justify-content-start">
            @if (Model.PageCount > 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions() { ContainerDivClasses = new string[] { "p-0" }, UlElementClasses = new string[] { "pagination m-0" } })
            }
        </div>
        @if (ViewBag.WriteRight == true)
        {
            <div class="row">
                <div class="p-0">
                    <div class="media services d-block text-justify">
                        <div class="media-body py-2 mt-3">
                            <div class="d-flex justify-content-between">
                                <a href="#" onclick="AddNew()" title="Crear nueva Matrícula" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Crear Nueva Matrícula</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    </div>
</section>