@model IEnumerable<ET.Rights>

@{
    ViewBag.Title = "Derechos";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script type="text/javascript">
    function Grant(Model, TypeM) {
        Model.ChangeType = TypeM;
        $.ajax({
            url: '@Url.Action("GrantAcess")',
            type: "Post",
            data: JSON.stringify(Model),
            contentType: "application/json; charset=utf-8",
            dataType: "json"
        });
        alert('Otorgado');
        location.reload();
    }
    function Remove(Model, TypeM) {
        var x = confirm("Esta seguro que quiere quitar este Permiso???");
        if (x) {
            Model.ChangeType = TypeM;
            $.ajax({
                url: '@Url.Action("RemoveAcess")',
                type: "Post",
                data: JSON.stringify(Model),
                contentType: "application/json; charset=utf-8",
                dataType: "json"
            });
        }
        alert('Hecho!!!');
        location.reload();
    }
</script>
<section class="hp-section">
    <div class="container">
        <div class="row justify-content-start">
            <h2 class="heading-section font-weight-bold my-2 p-0">@ViewBag.Title - <span style="color:darkblue">@ViewBag.RoleName</span></h2>
        </div>
        <div class="row justify-content-start">
            <table class="table-responsive align-content-center p-0">
                <tbody>
                    <tr class="align-middle">
                        <th class="py-2">@Html.DisplayNameFor(model => model.DisplayName)</th>
                        <th class="text-center py-2">@Html.DisplayNameFor(model => model.ReadRight)</th>
                        <th class="text-center py-2">@Html.DisplayNameFor(model => model.WriteRight)</th>
                    </tr>

                    @foreach (var item in Model)
                    {
                        <tr>
                            <td class="align-middle">@Html.DisplayFor(modelItem => item.DisplayName)</td>
                            <td class="text-center align-middle">
                                @{
                                    var readid = "ReadR" + item.WebID.ToString();
                                }

                                @if (item.ReadRight == true)
                                {
                                    <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@readid").hover(function () {
                                            $(this).removeClass('fas fa-check fa-2x');
                                            $(this).addClass('fas fa-times fa-2x');
                                        }, function () {
                                            $(this).removeClass('fas fa-times fa-2x');
                                            $(this).addClass('fas fa-check fa-2x');
                                        });
                                    });
                                    </script>

                                    <a href="#" onclick='Remove(@Json.Encode(item),"Read")' title="Remover Permiso"><i id="@readid" class="fas fa-check fa-2x"></i></a>
                                }
                                else
                                {
                                    <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@readid").hover(function () {
                                            $(this).removeClass('fas fa-times fa-2x');
                                            $(this).addClass('fas fa-check fa-2x');
                                        }, function () {
                                            $(this).removeClass('fas fa-check fa-2x');
                                            $(this).addClass('fas fa-times fa-2x');
                                        });
                                    });
                                    </script>
                                    <a href="#" onclick='Grant(@Json.Encode(item),"Read")' title="Otorgar Permiso"><i id="@readid" class="fas fa-times fa-2x"></i></a>
                                }
                            </td>
                            <td class="text-center align-middle">
                                @{
                                    var writeid = "WriteR" + item.WebID.ToString();
                                }

                                @if (item.WriteRight == true)
                                {
                                    <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@writeid").hover(function () {
                                            $(this).removeClass('fas fa-check fa-2x');
                                            $(this).addClass('fas fa-times fa-2x');
                                        }, function () {
                                            $(this).removeClass('fas fa-times fa-2x');
                                            $(this).addClass('fas fa-check fa-2x');
                                        });
                                    });
                                    </script>

                                    <a href="#" onclick='Remove(@Json.Encode(item),"Write")' title="Remover Permiso"><i id="@writeid" class="fas fa-check fa-2x"></i></a>
                                }
                                else
                                {
                                    <script type="text/javascript">
                                    $(document).ready(function () {
                                        $("#@writeid").hover(function () {
                                            $(this).removeClass('fas fa-times fa-2x');
                                            $(this).addClass('fas fa-check fa-2x');
                                        }, function () {
                                            $(this).removeClass('fas fa-check fa-2x');
                                            $(this).addClass('fas fa-times fa-2x');
                                        });
                                    });
                                    </script>
                                    <a href="#" onclick='Grant(@Json.Encode(item),"Write")' title="Otorgar Permiso"><i id="@writeid" class="fas fa-times fa-2x"></i></a>
                                }
                            </td>

                        </tr>
                    }
                </tbody>
            </table>
        </div>
        <div class="row">
            <div class="p-0">
                <div class="media services d-block text-justify">
                    <div class="media-body p-0 mt-0">
                        <div class="d-flex justify-content-between">
                            <a href="#" onclick="javascript: window.close()" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-chevron-circle-left fa-1x"></i> Cerrar</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>