@model ET.Resources

@{
    ViewBag.Title = "Agregar nuevo Recurso";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.1.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';
        if (flag == "CREATE")
        {
            opener.location.reload();
            window.close();
        }
    });

    function UpdateInputField() {
        var type = document.getElementById("FileType").value;
        if (type == "Video") {
            document.getElementById("URLField").style.display = "block";
            document.getElementById("fileField").style.display = "none";
        }
        else {
            document.getElementById("URLField").style.display = "none";
            document.getElementById("fileField").style.display = "block";
        }

    }
    function AccessCtrlChg() {
        var flag = document.getElementById("AccessLimited");
        var ALDIV = document.getElementById("AccessDiv");
        if (flag.value == "true") {
            ALDIV.style.display = "block";
        }
        else {
            ALDIV.style.display = "none";
        }
    }
</script>

<div class="card bg-light">
    <article class="card-body">
        <h2 class="heading-section font-weight-bold m-0 p-0">@ViewBag.Title</h2>
        @using (Html.BeginForm("AddNewResource", "Resources", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                <hr />
                @Html.ValidationSummary(true, "", new { @class = "text-danger m-0" })
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ResourceTypeID, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.DropDownListFor(model => model.ResourceTypeID, new SelectList(Model.TypeList, "ResourceTypeID", "TypeName"), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.ResourceTypeID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.FileName, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.EditorFor(model => model.FileName, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FileName, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.TextAreaFor(model => model.Description, 5, 1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.FileType, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.DropDownListFor(model => model.FileType, new SelectList(Enum.GetValues(typeof(ET.Resources.FileTypesList))), new { @class = "custom-select", @onchange = "UpdateInputField()" })
                                @Html.ValidationMessageFor(model => model.FileType, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" id="fileField" style="display: none;">
                            @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(model => model.file, "", new { @type = "file", htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.file, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group" id="URLField">
                            @Html.LabelFor(model => model.FileURL, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.EditorFor(model => model.FileURL, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.FileURL, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.Label("Acceso Limitado", htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="input-group m-3 w-100">
                                <div class="input-group-prepend">
                                    <span class="input-group-text font-weight-bold" id="inputGroup-sizing-default">Requiere Acceso Limitado?</span>
                                </div>
                                @{
                                    List<SelectListItem> AccessCtrl = new List<SelectListItem>();
                                    AccessCtrl.Add(new SelectListItem() { Text = "Si", Value = "true" });
                                    AccessCtrl.Add(new SelectListItem() { Text = "No", Value = "false" });
                                }
                                @Html.DropDownListFor(model => model.AccessLimited, AccessCtrl, new { @class = "custom-select", style = "max-width: 70px;", @onchange = "AccessCtrlChg()" })
                                @Html.ValidationMessageFor(model => model.AccessLimited, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div id="AccessDiv" class="form-group mx-3 mt-3 mb-0" style="display: none;">
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Desde</span>
                                        </div>
                                        @Html.EditorFor(model => model.ESDate, new { htmlAttributes = new { @class = "form-control", @style = "width: 225px;" } })
                                        @Html.ValidationMessageFor(model => model.ESDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col pl-1">
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.ESTime, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 120px;" } })
                                        @Html.ValidationMessageFor(model => model.ESTime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col">
                                    <div class="input-group mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text">Hasta</span>
                                        </div>
                                        @Html.EditorFor(model => model.EEDate, new { htmlAttributes = new { @class = "form-control", @style = "width: 225px;" } })
                                        @Html.ValidationMessageFor(model => model.EEDate, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="col pl-1">
                                    <div class="input-group mb-3">
                                        @Html.EditorFor(model => model.EETime, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 120px;" } })
                                        @Html.ValidationMessageFor(model => model.EETime, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10 mx-3">
                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                    </div>
                </div>
            </div>
        }
    </article>
</div>