@model IEnumerable<ET.ResourceTypes>

@{
    ViewBag.Title = "Recursos";
    Layout = ViewBag.Layout;
}

<script type="text/javascript">
    function AddNew() {
        var url = '@Url.Action("AddNewResource")';
        window.open(url, '_blank', 'left=100,top=100,width=1000,height=650,toolbar=1,resizable=0');
    }
    function AddNewType() {
        var url = '@Url.Action("AddNewRT")';
        window.open(url, '_blank', 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function AddNewRG(RTID) {
        var url = '@Url.Action("AddGroup", new { id = "ResourceTypeID"})';
        url = url.replace("ResourceTypeID", RTID);
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
    function RemoveRG(RTID,groupID) {
        var x = confirm("Esta seguro que quiere desvincular a este grupo de este recurso???");
        if (x) {
            $.ajax({
                url: '@Url.Action("RemoveURG")',
                data: { ResourceTypeID: RTID, GroupID: groupID }
            }).done(function () { alert('Hecho!!!'); location.reload(); });
        }
    }
</script>

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>

<section class="hp-section">
    <div class="container">
        <div class="col p-0 text-center heading-section ftco-animate animated fadeInUp">
            <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
            <span class="subheading">Recursos que alimentan el alma y que vienen directo del corazón de Dios.</span>
        </div>
        @if (ViewBag.Write == true)
        {
            <div class="row justify-content-start">
                    <div class="media services d-block text-justify">
                        <div class="media-body px-0 m-0">
                            <div class="d-flex justify-content-between">
                 <div class="py-2 px-0 ml-0">
                               <a href='#' title="Agregar nuevo Tipo de Recurso" class="btn btn-light" style="text-decoration: none;" onclick="AddNewType()"><i class="fas fa-plus-square fa-1x"></i> Agregar nuevo Tipo de Recurso</a>
                                <a href='#' title="Agregar Recurso" class="btn btn-light" style="text-decoration: none;" onclick="AddNew()"><i class="fas fa-plus-square fa-1x"></i> Agregar Recurso</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
        <div class="row mt-2 justify-content-center">
            @foreach (var item in Model)
            {
                var base64 = Convert.ToBase64String(item.TypeImage, 0, item.TypeImage.Length);
                var imgSrc = string.Format("data:image/{0};base64,{1}", item.TypeImageExt, base64);

                <div class="col-lg-4 d-flex">
                    <div class="blog-entry justify-content-end">
                        <a href='@Url.Action("Type","Resources",new { id = item.ResourceTypeID })' target="_blank" class="block-20" style="background-image: url('@imgSrc')" title="@item.TypeName"></a>
                        <div class="textBlog d-flex float-right d-block" style="background-color: linen;">
                            <div class="desc px-2">
                                <div class="row">
                                    <h3 class="heading my-auto mt-2">
                                        <a class="font-weight-bolder">@item.TypeName</a>
                                    </h3>
                                    <p class="my-auto mb-2">@item.Description</p>
                                </div>
                            </div>
                        </div>
                        @if (ViewBag.Write == true)
                        {
                            var modalRT = "ModalRT" + item.ResourceTypeID.ToString();

                            if (item.IsPublic == true)
                            {
                                <p class="card-link m-0">
                                    <span class="fas fa-users fa-1x mx-2" style="vertical-align: middle; color: #444444;"></span> Recurso Público
                                </p>
                            }
                            else
                            {
                                <a href="#" class="card-link m-0" title="Equipos asignados" data-toggle="modal" data-target='#@modalRT'>
                                    <span class="fas fa-users fa-1x mx-2" style="vertical-align: middle; color: #444444;"></span> Equipos Asignados
                                </a>
                                <div class="modal fade" id="@modalRT">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content">
                                            <div class="modal-body">
                                                <div class="card bg-light">
                                                    <article class="card-body">
                                                        <h3 class="mt-3 mb-1">
                                                            <i class="fa fa-tags"></i>
                                                            Recurso:
                                                            <span style="color:blue">@item.TypeName</span>
                                                        </h3>
                                                        <hr />
                                                        @if (item.GroupList.Count >= 1)
                                                        {
                                                            <div class="tagcloud mt-2 align-content-center">
                                                                @foreach (var r in item.GroupList)
                                                                {
                                                                    <a href="#" class="text-decoration-none" style="font-size: 15px;" onclick="RemoveRG(@item.ResourceTypeID,@r.GroupID)">@r.GroupName <i class="fas fa-times"></i></a>
                                                                }
                                                            </div>
                                                        }
                                                        else
                                                        {
                                                            <p class="my-2">Aún no hay equipos asignados a este equipo.</p>
                                                        }
                                                        <hr />
                                                        <div class="mt-2" style="inline-size: max-content;">
                                                            <a href='#' title="Agregar Involucrado" class="btn btn-light" style="text-decoration: none;" onclick='AddNewRG(@item.ResourceTypeID)'><i class="fas fa-plus-square fa-1x"></i> Agregar Equipo</a>
                                                        </div>
                                                    </article>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            }
                        }
                    </div>
                </div>
            }
        </div>
    </div>
</section>

