@model IEnumerable<ET.ResourceTypes>

@{
    ViewBag.Title = "Recursos";
    Layout = ViewBag.Layout;
}

<script type="text/javascript">
    function AddNew() {
            var url = '@Url.Action("AddNewResource")';
            window.open(url, '_blank', 'left=100,top=100,width=1000,height=650,toolbar=1,resizable=0');
        }
</script>

<section class="hp-section bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="text-center heading-section">
                <h2 class="m-0">@ViewBag.Title</h2>
                <p class="mb-2">Recursos que alimentan el alma y que vienen directo del corazón de Dios.</p>
            </div>
        </div>
        <hr />
        <div class="row justify-content-start">
            <div class="px-0">
                <div class="media services d-block text-justify">
                    <div class="media-body px-0 m-0">
                        <div class="d-flex justify-content-between">
                            <a href='#' title="Agregar Recurso" class="btn btn-light" style="text-decoration: none;" onclick="AddNew()"><i class="fas fa-plus-square fa-1x"></i> Agregar Recurso</a>                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row mt-3 justify-content-center">
            @foreach (var item in Model)
            {
                var base64 = Convert.ToBase64String(item.TypeImage, 0, item.TypeImage.Length);
                var imgSrc = string.Format("data:image/{0};base64,{1}", item.TypeImageExt, base64);

                <div class="col-lg-4 d-flex">
                    <div class="blog-entry justify-content-end">
                        <a href='@Url.Action("Type","Resources",new { id = item.ResourceTypeID })' target="_blank" class="block-20" style="background-image: url('@imgSrc')" title="@item.TypeName"></a>
                        <div class="textBlog d-flex float-right d-block" style="background-color: linen;">
                            <div class="desc px-2">
                                <div class="row">
                                    <h3 class="heading mt-2">
                                        <a class="font-weight-bolder">@item.TypeName</a>
                                    </h3>
                                    <p class="mb-2">@item.Description</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            }
        </div>
    </div>
</section>

