@model ET.AboutPage

@{
    ViewBag.Title = "About Page";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';

        if (flag == "CREATE")
        {
            opener.location.reload();
            window.close();
        }
    });
    function Validate() {
        var x = confirm("Esta seguro que quiere desea guardar el nuevo AboutPage???");
        if (x) {
            alert("Gracias...");
        }
    }

</script>
<script src="https://cdn.tiny.cloud/1/no-api-key/tinymce/5/tinymce.min.js" referrerpolicy="origin"></script>

<script>
    tinymce.init({
        selector: 'textarea'
    });
</script>

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
@using (Html.BeginForm("AboutPage", "Admin", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.AntiForgeryToken()
    <section class="hp-section">
        <div class="container">
            <div class="col p-0 text-center heading-section ftco-animate animated fadeInUp">
                <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                <span class="subheading">En esta sección se edita la informacion que se muestra en el About Page</span>
            </div>
            <div class="form-group mt-2">
                <h3 class="heading font-weight-bold">Historia</h3>
                <div class="w-100">
                    @Html.TextAreaFor(model => model.History, 5, 1, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.History, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h3 class="heading font-weight-bold">Mision</h3>
                <div class="w-100">
                    @Html.TextAreaFor(model => model.Mision, 3, 1, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.Mision, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h3 class="heading font-weight-bold">Vision</h3>
                <div class="w-100">
                    @Html.TextAreaFor(model => model.Vision, 3, 1, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 100%;" } })
                    @Html.ValidationMessageFor(model => model.Vision, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <h3 class="heading font-weight-bold">Pastores</h3>
                <div class="w-100">
                    @Html.EditorFor(model => model.Pastors)
                    @Html.ValidationMessageFor(model => model.Pastors, "", new { @class = "text-danger" })
                </div>
            </div>
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10 p-0">
                    <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                    <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                </div>
            </div>
        </div>
    </section>
}

@section Scripts
{
    <script src="~/Scripts/tinymce/tiny_mce.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/main.js"></script>
}