
@{
    ViewBag.Title = "Administrativo";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<style>
    .services .icon:hover {
        background: #00CAEC;
    }

    .services .icon span:hover {
        color: white;
    }
</style>

<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
<section class="hp-section bg-light ftco-animate animated fadeInUp">
    <div class="container">
        <div class="col p-0 text-center heading-section heading-section-light ftco-animate animated fadeInUp">
            <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
            <span class="subheading">Desde esta sección usted puede configurar usuarios, detalles de las paginas publicas y otros.</span>
        </div>
        <div class="row justify-content-center mt-3">
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Roles")' target="_blank" title="Roles" class="align-self-center">
                                <span class='align-self-center fas fa-user-tag fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Roles</h3>
                        <p>Administrar los roles y sus diferentes accesos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Users")' target="_blank" title="Usuarios" class="align-self-center">
                                <span class='align-self-center fas fa-users fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Usuarios</h3>
                        <p>Administrar todo lo refente a usuarios.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Groups")' target="_blank" title="Equipos de Trabajo" class="align-self-center">
                                <span class='align-self-center fas fa-user-friends fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Equipos de Trabajo</h3>
                        <p>Administrar los diferentes equipos de trabajos (involucrados).</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("HomePage","Admin")' target="_blank" title="HomePage" class="align-self-center">
                                <span class='align-self-center fas fa-home fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">HomePage</h3>
                        <p>Administra todo el contenido del HomePage Público.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("AboutPage","Admin")' target="_blank" title="HomePage" class="align-self-center">
                                <span class='align-self-center far fa-address-card fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">AboutPage</h3>
                        <p>Administra todo el contenido del AboutPage Público.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Banners")' target="_blank" title="Benners" class="align-self-center">
                                <span class='align-self-center fas fa-sign fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Banners</h3>
                        <p>Administra todo los banners que aparecen en el HomePage.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","UpcommingEvents")' target="_blank" title="Próximos eventos" class="align-self-center">
                                <span class='align-self-center far fa-calendar-alt fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Próximos eventos</h3>
                        <p>Administra todo la lista de Próximos eventos.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Ministries")' target="_blank" title="Ministerios" class="align-self-center">
                                <span class='align-self-center fas fa-church fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Ministerios</h3>
                        <p>Administra lista y el contenido de la pagina Ministerios.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Services")' target="_blank" title="Servicios" class="align-self-center">
                                <span class='align-self-center fas fa-people-carry fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Servicios</h3>
                        <p>Administra la lista y el contenido los servicios desplegados en el HomePage.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","News")' target="_blank" title="Noticias" class="align-self-center">
                                <span class='align-self-center far fa-newspaper fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Noticias</h3>
                        <p>Administra la lista y el contenido de las noticias.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Sermons")' target="_blank" title="Prédicas" class="align-self-center">
                                <span class='align-self-center fas fa-bible fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Prédicas</h3>
                        <p>Administra la lista y el contenido las Prédicas.</p>
                    </div>
                </div>
            </div>
            <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                <div class="media block-6 services d-block text-center">
                    <div class="d-flex justify-content-center">
                        <div class="icon d-flex justify-content-center mb-3">
                            <a href='@Url.Action("Index","Resources")' target="_blank" title="Recursos" class="align-self-center">
                                <span class='align-self-center fas fa-swatchbook fa-4x'></span>
                            </a>
                        </div>
                    </div>
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading m-0">Recursos</h3>
                        <p>Administra la lista y el contenido los Recursos.</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="text-center heading-section">
                <p class="m-2"><span class="font-weight-bold">Hora del Servidor:</span> @ViewBag.DateTimeServer</p>
                <p class="m-2"><span class="font-weight-bold">Hora Ajustada:</span> @ViewBag.DateTime</p>
            </div>
        </div>
    </div>
</section>

