@model ET.ForgotPasswordModel

@{
    ViewBag.Title = "Olvido Contraseña";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<div class="card bg-light">
    <article class="card-body mx-auto">
        <h4 class="card-title mt-3 text-center font-weight-bold">OLVIDO CONTRASEÑA</h4>
        @using (Html.BeginForm("ForgotPassword", "Account", FormMethod.Post, new { role = "form" }))
        {
            @Html.AntiForgeryToken()
            @Html.ValidationSummary("", new { @class = "text-danger" })
            <p class="text-center">Por favor ingrese el correo electrónico con el cual se registro.</p>
            <div class="form-group input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                </div>
                @Html.TextBoxFor(m => m.Email, new { @class = "form-control", @placeholder = "Correo Electrónico" })
                @Html.ValidationMessageFor(model => model.Email, "", new { @class = "text-danger" })
            </div>
            <div class="form-group">
                <input type="submit" class="btn btn-primary btn-block alt" value="Enviar Solicitud" />
            </div>
        }
    </article>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}



