@model IEnumerable<ET.Reservations>

@{
    Layout = null;
}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Email confirmation</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
</head>
<body style="margin: 0; padding: 0;">
    <table border="0" cellpadding="0" cellspacing="0" width="100%">
        <tr>
            <td style="padding: 10px 0 10px 0;">
                <table align="center" border="1" cellpadding="0" cellspacing="0" width="600" style="border-collapse: collapse; font-family: Poppins, sans-serif;">
                    <tr>
                        <td align="center" style="padding: 0;">
                            <img src="https://scontent.fsyq3-1.fna.fbcdn.net/v/t1.0-9/88316101_500755240619416_1528612511715164160_n.png?_nc_cat=105&amp;_nc_sid=e3f864&amp;_nc_ohc=o9Ir3IHN3SoAX_Gms9A&amp;_nc_ht=scontent.fsyq3-1.fna&amp;oh=304f519682ca6802af18ae0e090d5caf&amp;oe=5ECB613B" alt="Creating Email Magic" width="600" height="250" style="display: block;">
                        </td>
                    </tr>
                    <tr>
                        <td bgcolor="#ffffff" style="padding: 20px 30px 20px 30px;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td>
                                        <h3>Confirmación de Reserva</h3>
                                    </td>
                                </tr>
                                <tr>
                                    <td>
                                        <table class="mt-3">
                                            <thead>
                                                <tr>
                                                    <td colspan="4" class="p-0 justify-content-start">
                                                        <span style="font-weight: bold">Código:</span> @Model.FirstOrDefault().GUID
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="p-0 justify-content-start">
                                                        <span style="font-weight: bold">Realizada por:</span> @Model.FirstOrDefault().BookedByName
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="p-0 justify-content-start">
                                                        <span style="font-weight: bold">A nombre de:</span> @Model.FirstOrDefault().BookedFor
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td colspan="4" class="p-0 justify-content-start font-weight-bold" style="font-weight: bold">
                                                        Asientos reservados:
                                                    </td>
                                                </tr>
                                                <tr class="font-weight-bolder ">
                                                    <td class="p-0 text-center" align="center" style="font-weight: bold">Código</td>
                                                    <td class="p-0 text-center" align="center" style="font-weight: bold">Bloque</td>
                                                    <td class="p-0 text-center" align="center" style="font-weight: bold">Fila</td>
                                                    <td class="p-0 text-center" align="center" style="font-weight: bold">Asiento</td>
                                                </tr>
                                            </thead>
                                            <tbody>
                                                @foreach (var item in Model)
                                                {
                                                    <tr>
                                                        <td class="p-0 text-center" align="center">@item.SeatID</td>
                                                        <td class="p-0 text-center" align="center">@item.SeatID.Substring(0, 2)</td>
                                                        <td class="p-0 text-center" align="center">@item.SeatID.Substring(2, 1)</td>
                                                        @if (item.SeatID.Length >= 6)
                                                        {
                                                            <td class="p-0 text-center" align="center">@item.SeatID.Substring(4, 2)</td>
                                                        }
                                                        else
                                                        {
                                                            <td class="p-0 text-center" align="center">@item.SeatID.Substring(4, 1)</td>
                                                        }                                                        
                                                    </tr>
                                                }
                                                <tr>
                                                    <td colspan="5" class="p-0 justify-content-start">
                                                        <p class="m-2" style="font-size: 10px;">
                                                            <span class="font-weight-bolder" style="font-weight: bold">Nota:</span>
                                                            *Si en dicha confirmación no aparece alguno de los campos seleccionados, es porque dicho campo fue ocupado instantes antes de su solicitud.
                                                            **Este confirmación tambien fue enviada al correo de la persona que realizo la reservación.
                                                        </p>
                                                    </td>
                                                </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>                                
                            </table>
                        </td>
                    </tr>
                    <tr>
                        <td style="padding: 30px 10px 30px 10px; background-color:wheat;">
                            <table border="0" cellpadding="0" cellspacing="0" width="100%">
                                <tr>
                                    <td width="60%">
                                        <p>
                                            <strong>Oasis Alajuela</strong> &copy;
                                            <script>document.write(new Date().getFullYear());</script>
                                            Derechos reservados
                                        </p>
                                    </td>
                                    <td align="center">
                                        <table style="padding: 0;">
                                            <tr>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://twitter.com/oasisalajuela" target="_blank" title="Twitter">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/picons-social/57/43-twitter-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.facebook.com/OasisAlajuela/" target="_blank" title="Facebook">
                                                        <img src="https://cdn3.iconfinder.com/data/icons/free-social-icons/67/facebook_circle_black-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.instagram.com/aes_oasis/" target="_blank" title="Instagram">
                                                        <img src="https://cdn4.iconfinder.com/data/icons/picons-social/57/38-instagram-3-512.png" width="40" />
                                                    </a>
                                                </td>
                                                <td style="padding: 0 5px 0 5px;">
                                                    <a href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A" target="_blank" title="YouTube">
                                                        <img src="https://cdn1.iconfinder.com/data/icons/andriod-app-logo/32/icon_youtube-512.png" width="40" />
                                                    </a>
                                                </td>
                                            </tr>
                                        </table>
                                    </td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
    </table>
</body>
</html>