@model ET.Sermons

@{
    ViewBag.Title = "Prédicas";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}



<script src="~/Scripts/jquery-3.5.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';
        if (flag == "CREATE")
        {
            opener.location.reload();
            window.close();
        }
    });
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
                document.getElementById('SaveOptions').style.display = 'inline-block';
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });

    function UpdateBanner() {
        var VideoID = document.getElementById("SermonURL").value;
        $.ajax({
            type: "GET",
            url: '@Url.Action("YouTubeValidation")',
            data: { id: VideoID },
            success: function (results) {
                if (results.ActiveFlag == true) {
                    $('.avatar').attr('src', results.BannerLink);
                    document.getElementById('SaveOptions').style.display = 'inline-block';
                }
                else {
                    alert("El link ingresado no existe o es erroneo.");
                }
            }
        });
    }
    function Create() {
        var url = '@Url.Action("AddNew", "Ministers")';
        window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
    }
</script>
<div class="col text-center heading-section ftco-animate animated fadeInUp">
    <h2 class="mb-0 mt-3"><span class="px-4">@ViewBag.Title</span></h2>
    <span class="subheading">Agregar Nueva Prédica</span>
</div>
<div class="ftco-animate animated fadeInUp">
    <article class="card-body py-0">
        @using (Html.BeginForm("AddNew", "Sermons", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger m-0" })
                <div class="row">
                    <div class="col-md-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Title, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.EditorFor(model => model.Title, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Title, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col d-flex justify-content-between">
                                @Html.LabelFor(model => model.MinisterID, htmlAttributes: new { @class = "control-label m-0", @style = "float: left;" })
                                <a href="#" onclick="Create();" title="Agregar Predicador"><i class="fas fa-user-plus"></i></a>
                            </div>
                            <div class="col">
                                @Html.DropDownListFor(model => model.MinisterID, new SelectList(Model.MinisterList, "MinisterID", "FullName"), new { @class = "custom-select" })
                                @Html.ValidationMessageFor(model => model.MinisterID, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.TextAreaFor(model => model.Description, 7, 1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Tags, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col">
                                @Html.EditorFor(model => model.Tags, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Tags, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div class="form-group">
                            @Html.LabelFor(model => model.SermonDate, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col-md-10">
                                @Html.EditorFor(model => model.SermonDate, new { htmlAttributes = new { @class = "form-control", @style = "max-width: 200px;" } })
                                @Html.ValidationMessageFor(model => model.SermonDate, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.SermonURL, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="ml-3">
                                <div class="input-group">
                                    @Html.TextBoxFor(model => model.SermonURL, new { @class = "form-control", @onchange = "UpdateBanner();" })
                                    @Html.ValidationMessageFor(model => model.SermonURL, "", new { @class = "text-danger" })
                                    <div class="input-group-append">
                                        <button type="button" class="btn btn-outline-secondary m-0" title="Buscar" onclick="UpdateBanner();"><span class="fas fa-search"></span></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="profile-img">
                                <img src="http://ssl.gstatic.com/accounts/ui/avatar_2x.png" class="avatar img-thumbnail w-75" alt="avatar" />
                                <div id="SaveOptions" class="file btn btn-lg btn-primary profile-img w-75" style="display: none">
                                    Cambiar
                                    <input id="file" type="file" name="file" class="file-upload">
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-offset-2 col-md-10 mx-3">
                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                    </div>
                </div>
            </div>
        }
    </article>
</div>