@model IEnumerable<ET.Leadership>

@{
    ViewBag.Title = "Liderazgo";
    Layout = ViewBag.Layout;
}
<style>
    p {
        margin-bottom: 1rem;
        margin-top: 0;
    }    
</style>
<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
@if (ViewBag.Write == true)
{
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
            function Desactivate(NewID) {
                var x = confirm("Esta seguro que quiere eliminar este lider???");
                if (x) {
                    $.ajax({
                        url: '@Url.Action("ChangeStatus")',
                        data: { id: NewID }
                    }).done(function () { alert('Hecho!!!'); location.reload(); });
                }
            }
            function AddNew() {
                var url = '@Url.Action("AddNew")';
                window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
            }
            function Edit(NewID) {
                var url = '@Url.Action("Edit", new { id = "newid" })';
                url = url.replace("newid", NewID);
                window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
            }
    </script>
    <section class="hp-section bg-light ftco-animate animated fadeInUp p-0">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center heading-section heading-section-light ftco-animate animated fadeInUp">
                    <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                    <span class="subheading">Nuestro Equipo Pastoral</span>
                </div>
            </div>
            <div class="row justify-content-start">
                <div class="px-lg-4">
                    <div class="media services d-block text-justify">
                        <div class="media-body py-2 mt-3">
                            <div class="d-flex justify-content-between">
                                <a href="#" onclick="AddNew()" title="Agregar" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Agregar Nuevo Lider</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex mt-3">
                @foreach (var item in Model)
                {
                    var base64 = Convert.ToBase64String(item.Image, 0, item.Image.Length);
                    var imgSrc = string.Format("data:image/{0};base64,{1}", item.ImageExt, base64);

                    <div class="col-lg-4 d-flex ftco-animate animated fadeInUp">
                        <div class="blog-entry justify-content-end mb-2">
                            <a class="block-20 zoom125x" style="background-image: url('@imgSrc')"></a>
                            <div class="textBlog d-flex float-right d-block">
                                <div class="topper text-center pt-4 px-3" style="background: #00CAEC !important;">

                                </div>
                                <div class="desc px-4 pt-4 pb-2 w-100">
                                    <div class="row">
                                        <h3 class="heading mt-2">
                                            <a class="font-weight-bolder">@item.FullName</a>
                                        </h3>
                                        <p>@Html.Raw(item.Description)</p>
                                        @if (item.ActionLink.Length > 0)
                                        {
                                            <p>
                                                <a href='@Url.Action(item.ActionLink)' target="_blank" class="p-0 mb-2" style="font-size: 0.9rem;">Leer más acerca de @item.FullName <i class="fas fa-caret-right"></i></a>
                                            </p>
                                        }
                                    </div>
                                    <div class="row">
                                        <div class="tagcloud pl-4">
                                            <a href="#" class="btn btn-light px-3" onclick="Desactivate(@item.LeaderID)" title="Eliminar"><i class="fas fa-trash-alt fa-1x" style="vertical-align: middle;"></i> Eliminar</a>
                                            <a href="#" class="btn btn-light px-3" onclick="Edit(@item.LeaderID)" title="Editar"><i class="far fa-edit fa-1x" style="vertical-align: middle;"></i> Editar</a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <section class="hp-section bg-light">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center heading-section heading-section-light ftco-animate animated fadeInUp">
                    <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                    <span class="subheading">Nuestro Equipo Pastoral</span>
                </div>
            </div>
            <div class="row d-flex mt-3">
                @foreach (var item in Model)
                {
                    var base64 = Convert.ToBase64String(item.Image, 0, item.Image.Length);
                    var imgSrc = string.Format("data:image/{0};base64,{1}", item.ImageExt, base64);

                    <div class="col-lg-4 d-flex ftco-animate animated fadeInUp">
                        <div class="blog-entry justify-content-end mb-2">
                            <a class="block-20 zoom125x" style="background-image: url('@imgSrc')"></a>
                            <div class="textBlog d-flex float-right d-block">
                                <div class="topper text-center pt-4 px-3" style="background: #00CAEC !important;">

                                </div>
                                <div class="desc px-4 pt-4 pb-2 w-100">
                                    <div class="row">
                                        <h3 class="heading mt-2">
                                            <a class="font-weight-bolder">@item.FullName</a>
                                        </h3>
                                        <p>@Html.Raw(item.Description)</p>
                                        @if (item.ActionLink.Length > 0)
                                        {
                                            <p>
                                                <a href='@Url.Action(item.ActionLink)' target="_blank" class="p-0 mb-2" style="font-size: 0.9rem;">Leer más acerca de @item.FullName <i class="fas fa-caret-right"></i></a>
                                            </p>
                                        }
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}