@model ET.Ministries

@{
    ViewBag.Title = "Ministerios";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}

<script src="~/Scripts/jquery-3.5.0.min.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';
        if (flag == "UPDATE")
        {
            opener.location.reload();
            window.close();
        }
    });
    $(document).ready(function () {
        var readURL = function (input) {
            if (input.files && input.files[0]) {
                var reader = new FileReader();

                reader.onload = function (e) {
                    $('.avatar').attr('src', e.target.result);
                }
                reader.readAsDataURL(input.files[0]);
            }
        }
        $(".file-upload").on('change', function () {
            readURL(this);
        });
    });
</script>

<div class="col text-center heading-section ftco-animate animated fadeInUp">
    <h2 class="mb-0 mt-3"><span class="px-4">@ViewBag.Title</span></h2>
    <span class="subheading">Editar Información</span>
</div>

<div class="ftco-animate animated fadeInUp">
    <article class="card-body py-0">
        @using (Html.BeginForm("Edit", "Ministries", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            @Html.HiddenFor(model => model.MinistryID)
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger m-0" })
                <div class="row">
                    <div class="col-7">
                        <div class="form-group">
                            @Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="w-100 col-md-10">
                                @Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Name, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.Description, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col w-100">
                                @Html.TextAreaFor(model => model.Description, 7, 1, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.Description, "", new { @class = "text-danger" })
                            </div>
                        </div>
                    </div>
                    <div class="col-4">
                        <div class="form-group">
                            @Html.LabelFor(model => model.ActionLink, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="col-md-10 w-100">
                                @Html.EditorFor(model => model.ActionLink, new { htmlAttributes = new { @class = "form-control" } })
                                @Html.ValidationMessageFor(model => model.ActionLink, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(model => model.file, htmlAttributes: new { @class = "control-label col-md-2", @style = "max-width: 100%;" })
                            <div class="profile-img">
                                @{
                                    var base64 = Convert.ToBase64String(Model.Image, 0, Model.Image.Length);
                                    var imgSrc = string.Format("data:image/{0};base64,{1}", Model.ImageExt, base64);
                                }
                                <img src="@imgSrc" class="avatar img-thumbnail w-75" alt="avatar" />
                                <div class="file btn btn-lg btn-primary profile-img w-75">
                                    Agregar Imagen
                                    <input id="file" type="file" name="file" class="file-upload">
                                </div>
                                <p>La imagen debe ser tipo estandarte y solo en los formatos PNG, JPG y JPEG.</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="mx-3">
                        <input type="submit" value="Guardar" class="btn btn-dark alt mt-0 mb-2" />
                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                    </div>
                </div>
            </div>
        }
    </article>
</div>

@section Scripts
{
    <script src="~/Scripts/tinymce/tiny_mce.js"></script>
    <script src="~/Scripts/tinymce/tinymce.min.js"></script>
    <script src="~/Scripts/main.js"></script>
}