@model IEnumerable<ET.Ministries>

@{
    ViewBag.Title = "Ministerios";
    Layout = ViewBag.Layout;
}
<style>
    p {
        margin-bottom: 1rem;
        margin-top: 0;
    }
</style>
<div id="header" class="headerFixed" style="z-index:-1;position:relative;">

</div>
@if (ViewBag.Write == true)
{
    <script type="text/javascript">
        function AddNew() {
            var url = '@Url.Action("AddNew")';
            window.open(url, '_blank', 'left=100,top=100,width=1000,height=650,toolbar=1,resizable=0');
        }
        function Edit(MinistryID) {
            var url = '@Url.Action("Edit", new { id = "ID"})';
            url = url.replace("ID", MinistryID)
            window.open(url, '_blank', 'left=100,top=100,width=1000,height=650,toolbar=1,resizable=0');
        }
        function Disable(MinistryID) {
            var x = confirm("Esta seguro que quiere eliminar este ministerio???");
            if (x) {
                $.ajax({
                    url: '@Url.Action("Disable")',
                    data: { id: MinistryID }
                }).done(function () { alert('Hecho!!!'); location.reload(); });
            }
        }
    </script>
    <section class="hp-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col text-center heading-section ftco-animate animated fadeInUp p-0">
                    <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                    <span class="subheading">Nuestros Ministerios</span>
                </div>
            </div>
            <div class="ftco-animate animated fadeInUp">
                @foreach (var item in Model)
                {
                    <div class="row">
                        <table border="1" class="m-0">
                            <tr style="background-color:transparent;">
                                <td class="p-0 align-middle">
                                    <img src="@item.ImagePath" width="50" class="ml-2 zoom2x" />
                                </td>
                                <td class="p-0">
                                    <div class="media-body p-2 mt-3 mr-2">
                                        <div class="d-flex justify-content-between">
                                            <h3 class="font-weight-bold mt-0 mb-1">
                                                @item.Name
                                            </h3>
                                            <div>
                                                <a href="#" onclick="Edit(@item.MinistryID)" title="Editar"><i class="fas fa-edit fa-1x"></i></a>
                                                <a href="#" onclick="Disable(@item.MinistryID)" title="Borrar"><i class="fas fa-trash-alt fa-1x"></i></a>
                                            </div>
                                        </div>
                                        <p class="m-0">@Html.Raw(item.Description)</p>
                                        @if (item.ActionLink.Length > 0)
                                        {
                                            @Html.ActionLink("Ver más...", item.ActionLink, "Ministries", null, htmlAttributes: new { @class = "button alt" })
                                        }
                                    </div>
                                </td>
                            </tr>
                        </table>
                    </div>
                }
                <div class="row">
                    <div class="p-0">
                        <div class="media services d-block text-justify">
                            <div class="media-body p-2 mt-3">
                                <div class="d-flex justify-content-between">
                                    <a href="#" onclick="AddNew()" title="Agregar un nuevo Ministerio" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Agregar un nuevo Ministerio</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
<section class="hp-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col text-center heading-section ftco-animate animated fadeInUp p-0">
                <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                <span class="subheading">Nuestros Ministerios</span>
            </div>
        </div>
        <div class="ftco-animate animated fadeInUp">
            @foreach (var item in Model)
            {
                <div class="row">
                    <table border="1" class="m-0">
                        <tr style="background-color:transparent;">
                            <td class="p-0 align-middle">
                                <img src="@item.ImagePath" width="50" class="ml-2 zoom2x" />
                            </td>
                            <td class="p-0">
                                <div class="media-body p-2 mt-3 mr-2">
                                    <div class="d-flex justify-content-between">
                                        <h3 class="font-weight-bold mt-0 mb-1">
                                            @item.Name
                                        </h3>
                                    </div>
                                    <p class="m-0">@Html.Raw(item.Description)</p>
                                    @if (item.ActionLink.Length > 0)
                                    {
                                        @Html.ActionLink("Ver más...", item.ActionLink, "Ministries", null, htmlAttributes: new { @class = "button alt" })
                                    }
                                </div>
                            </td>
                        </tr>
                    </table>
                </div>
            }
        </div>
    </div>
</section>
}