@model PagedList.IPagedList<ET.Blogs>
@using PagedList.Mvc;
@using System.Globalization;

@{
    ViewBag.Title = "Oasis Blog - Historial";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<script type="text/javascript">
    function AddNew() {
            var url = '@Url.Action("AddNew")';
            window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
        }
</script>
<section class="hp-section">
    <div class="container">
        <div class="row justify-content-center border-bottom mb-2">
            <h2 class="heading-section font-weight-bold my-2 pl-2">@ViewBag.Title</h2>
        </div>
        <div class="row justify-content-start">
            <div class="py-2 px-0">
                <div class="media services d-block text-justify">
                    <div class="media-body px-0 m-0">
                        <div class="d-flex justify-content-between">
                            <a href='#' title="Agregar Blog" class="btn btn-light" style="text-decoration: none;" onclick="AddNew()"><i class="fas fa-plus-square fa-1x"></i> Agregar Blog</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        @using (Html.BeginForm("History", "Blogs", FormMethod.Get))
        {
            <div class="row justify-content-start">
                <div class="form-group input-group py-2 pl-0 searchfield w-50">
                    <div class="input-group-prepend">
                        <span class="input-group-text w"><i class="fas fa-search"></i></span>
                    </div>
                    @Html.TextBox("SearchString", null, new { @class = "form-control", @placeholder = "Palabra clave" })
                </div>
                <input type="submit" value="Buscar" class="btn btn-dark alt mt-0 my-2" style="height: 2.75rem !important;" />
            </div>
        }
        <div class="row justify-content-start">
            <table class="table-responsive-xl align-content-center p-0">
                <tbody>
                    <tr class="align-middle">
                        <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().InsertDate)</th>
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().MinisterID)</th>
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().Title)</th>
                        <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().Description)</th>
                        <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.FirstOrDefault().ActiveFlag)</th>
                        <th class="py-2 text-center align-middle" colspan="3">Acción</th>
                    </tr>
                    @foreach (var item in Model)
                    {
                        var modalname = "ModalCenter" + item.BlogID.ToString();
                        var base64 = Convert.ToBase64String(item.BannerData, 0, item.BannerData.Length);
                        var imgSrc = string.Format("data:image/{0};base64,{1}", item.BannerExt, base64);
                        var Status = item.ActiveFlag ? "Si" : "No";
                        var note = string.Empty;
                        if (item.Description.Length <= 25)
                        {
                            note = item.Description;
                        }
                        else
                        {
                            note = item.Description.Substring(0, 25) + "...";
                        }
                        <tr>
                            <td class="align-middle text-center text-capitalize">@item.InsertDate.ToString("dd-MMM-yyyy", new CultureInfo("es-US"))</td>
                            <td class="align-middle">@item.MinisterName</td>
                            <td class="align-middle">@item.Title</td>
                            <td class="align-middle">@note</td>
                            <td class="align-middle text-center">@Status</td>
                            <td class="align-middle text-center">
                                <a href='#' target="_blank" class="card-link" title="Detalles" data-toggle="modal" data-target='#@modalname'><i class="fas fa-search fa-2x text-black" style="vertical-align: middle;"></i></a>
                                <div class="modal fade" id="@modalname">
                                    <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
                                        <div class="modal-content" style="background: black!important;">
                                            <div class="modal-body">
                                                <div class="col d-flex p-3">
                                                    <div class="blog-entry justify-content-end m-0">
                                                        <a class="block-20" style="background-image: url('@imgSrc')"></a>
                                                        <div class="textBlog d-flex float-right d-block">
                                                            <div class="topper text-center pt-4 px-3">
                                                                <span class="dayBlog">@item.NewDay</span>
                                                                <span class="mos">@item.NewMonth</span>
                                                                <span class="yr">@item.NewYear</span>
                                                            </div>
                                                            <div class="desc p-4">
                                                                <div class="row">
                                                                    <h3 class="heading mt-2">
                                                                        <a class="font-weight-bolder">@item.Title</a>
                                                                    </h3>
                                                                    <br />
                                                                    <p class="mb-2 text-justify">@item.Description</p>
                                                                    <br />
                                                                    <p class="mb-2 mr-0 ml-auto font-weight-bold">@item.MinisterName</p>
                                                                </div>                                                                
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </td>
                            <td class="text-center align-middle">
                                @if (item.ActiveFlag == false)
                                {
                                    <a href="#" class="card-link" onclick="Activate(@item.BlogID)" title="Habilitar"><i class="fas fa-check-circle fa-2x ActiveColor" style="vertical-align: middle;"></i></a>
                                }
                                else
                                {
                                    <a href="#" class="card-link" onclick="Desactivate(@item.BlogID)" title="Deshabilitar"><i class="fas fa-times-circle fa-2x DisactiveColor" style="vertical-align: middle;"></i></a>
                                }
                            </td>
                            <td class="text-center align-middle">
                                <a href='#' target="_blank" class="card-link" onclick="Edit(@item.BlogID)" title="Editar"><i class="fas fa-edit fa-2x text-black" style="vertical-align: middle;"></i></a>
                            </td>
                        </tr>
                    }
                </tbody>
            </table>
        </div>
        
        <div class="row justify-content-start">
            @if (Model.PageCount > 1)
            {
                @Html.PagedListPager(Model, page => Url.Action("Index", new { page, currentFilter = ViewBag.CurrentFilter }), new PagedListRenderOptions() { ContainerDivClasses = new string[] { "p-0" }, UlElementClasses = new string[] { "pagination m-0" } })
            }
        </div>
    </div>
</section>