@model IEnumerable<ET.Blogs>

@{
    ViewBag.Title = "Oasis Blog";
    Layout = ViewBag.Layout;
}

@if (ViewBag.Write == true)
{
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
        function Desactivate(NewID) {
            var x = confirm("Esta seguro que quiere eliminar este Blog???");
            if (x) {
                $.ajax({
                    url: '@Url.Action("ChangeStatus")',
                    data: { id: NewID }
                }).done(function () { alert('Hecho!!!'); location.reload(); });
            }
        }
        function AddNew() {
            var url = '@Url.Action("AddNew")';
            window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
        }
        function Edit(NewID) {
            var url = '@Url.Action("Edit", new { id = "newid" })';
            url = url.replace("newid", NewID);
            window.open(url, '_blank' , 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
        }
    </script>
    <div id="header" class="headerFixed" style="z-index:-1;position:relative;">

    </div>

    <section class="hp-section bg-light ftco-animate animated fadeInUp">
        <div class="container">
            <div class="col p-0 text-center heading-section heading-section-light ftco-animate animated fadeInUp">
                <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                <span class="subheading">Desde el Escritorio de Pastor</span>
            </div>
            <div class="row justify-content-start ftco-animate animated fadeInUp">
                <div class="px-lg-4">
                    <div class="media services d-block text-justify">
                        <div class="media-body py-2 mt-3">
                            <div class="d-flex justify-content-between">
                                <a href="#" onclick="AddNew()" title="Agregar nuevo Blog" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Agregar nuevo Blog</a>
                                <a href='@Url.Action("History")' target="_blank" title="Ver historial" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-history fa-1x"></i> Ver Historial</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row d-flex mt-3 ftco-animate animated fadeInUp">
                @foreach (var item in Model)
                {
                    var base64 = Convert.ToBase64String(item.BannerData, 0, item.BannerData.Length);
                    var imgSrc = string.Format("data:image/{0};base64,{1}", item.BannerExt, base64);
                    var Editflag = "EditFlag" + item.BlogID.ToString();

                    <div class="col-lg-4 d-flex podcast">
                        <div class="blog-entry justify-content-end">
                            <a class="block-20" style="background-image: url('@imgSrc')"></a>
                            <div class="textBlog d-flex float-right d-block">
                                <div class="topper text-center pt-4 px-3">
                                    <span class="dayBlog">@item.NewDay</span>
                                    <span class="mos">@item.NewMonth</span>
                                    <span class="yr">@item.NewYear</span>
                                </div>
                                <div class="desc p-4">
                                    <div class="row">
                                        <p class="m-0 NoteDate">@item.NewDay @item.NewMonth @item.NewYear</p>
                                        <h3 class="heading mt-2">
                                            <a class="font-weight-bolder">@item.Title</a>
                                        </h3>
                                        <br />
                                        <p class="mb-2 text-justify">@item.Description</p>
                                        <br />
                                        <p class="mb-2 mr-0 ml-auto font-weight-bold">@item.MinisterName</p>
                                    </div>
                                    <div class="row">
                                        <div class="px-4 py-0">
                                            <a href="#" class="btn btn-light px-3" onclick="Desactivate(@item.BlogID)" title="Deshabilitar"><i class="fas fa-trash-alt fa-1x" style="vertical-align: middle;"></i></a>
                                            <a href="#" class="btn btn-light px-3" onclick="Edit(@item.BlogID)" title="Editar"><i class="far fa-edit fa-1x" style="vertical-align: middle;"></i></a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </section>
}
else
{
    <div id="header" class="headerFixed" style="z-index:-1;position:relative;">

    </div>
    <section class="hp-section bg-light">
        <div class="container">
            <div class="col p-0 text-center heading-section heading-section-light ftco-animate animated fadeInUp">
                <h2 class="mb-0"><span class="px-4">@ViewBag.Title.ToUpper()</span></h2>
                <span class="subheading">Desde el Escritorio de Pastor</span>
            </div>
            <div class="row d-flex mt-3 ftco-animate animated fadeInUp">
                @if (Model.Count() > 0)
                {
                    foreach (var item in Model)
                    {
                        var base64 = Convert.ToBase64String(item.BannerData, 0, item.BannerData.Length);
                        var imgSrc = string.Format("data:image/{0};base64,{1}", item.BannerExt, base64);

                        <div class="col-lg-4 d-flex">
                            <div class="blog-entry justify-content-end">
                                <a class="block-20" style="background-image: url('@imgSrc')"></a>
                                <div class="textBlog d-flex float-right d-block">
                                    <div class="topper text-center pt-4 px-3">
                                        <span class="dayBlog">@item.NewDay</span>
                                        <span class="mos">@item.NewMonth</span>
                                        <span class="yr">@item.NewYear</span>
                                    </div>
                                    <div class="desc p-4">
                                        <div class="row">
                                            <p class="m-0 NoteDate">@item.NewDay @item.NewMonth @item.NewYear</p>
                                            <h3 class="heading mt-2">
                                                <a class="font-weight-bolder">@item.Title</a>
                                            </h3>
                                            <br />
                                            <p>@item.Description</p>
                                            <br />
                                            <p>@item.MinisterName</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <div class="d-flex justify-content-between">
                        <p class="mb-2 justify-content-start">
                            En este momento no hay Podcasts disponibles, pero ya vienen de camino. Bendiciones...
                        </p>
                    </div>
                }
            </div>
        </div>
    </section>
}