@model ET.AboutPage

@{
    ViewBag.Title = "Acerca de Nosotros";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}
<style>
    p {
        margin-bottom: 1rem;
        margin-top: 1rem;
    }
</style>
<section class="hp-section ftco-animate animated fadeInUp">
    <div class="container">
        <h4 class="card-title mt-3 mb-2 text-center font-weight-bold">@ViewBag.Title.ToUpper()</h4>
        <hr />
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Historia</h3>
                        <p>@Html.Raw(Model.History)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Misión</h3>
                        <p>@Html.Raw(Model.Mision)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Visión</h3>
                        <p>@Html.Raw(Model.Vision)</p>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div>
                <div class="media block-6 services d-block text-justify">
                    <div class="media-body p-2 mt-3">
                        <h3 class="heading font-weight-bold">Pastores</h3>
                        <div class="d-flex justify-content-center">
                            <div class="d-flex justify-content-center mb-3">
                                @*<img src="~/Images/Pastores.jpg" class="w-50" style="height: auto; border-radius: 10px;" />*@
                                <img src="~/Images/Pastores.jpg" class="avatar img-thumbnail w-50" alt="avatar" style="min-height:25vw; max-width:100%; border-radius: 10px;" />
                            </div>
                        </div>
                        <p>@Html.Raw(Model.Pastors)</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>