@model ET.HomePage

@{
    ViewBag.Title = "Oasis Alajuela - Donde hay lugar para ti.";
    Layout = "~/Views/Shared/_MainLayout.cshtml";
}

<section class="hp-section p-1 m-0">
    @{
        Html.RenderAction("_Banners");
    }
</section>
<section class="wrapper style4 p-1">
    @{
        Html.RenderAction("_UpcommingEvents");
    }
</section>
<section class="hp-daily-verse bg-light">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-10 daily-verse text-center p-5">
                <span class="fas fa-bible fa-4x wa" style="color: #0a3e77"></span>
                <h3 class="my-2">"@Model.DailyVerse"</h3>
                <h4 class="h5 mt-2 font-weight-bold">&mdash; @Model.DailyVerseReference</h4>
            </div>
        </div>
    </div>
</section>

<section class="hp-section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-6 text-center heading-section">
                <span class="subheading">Nuestros servicios</span>
                <h2 class="mb-4">@Model.ServicesTitle</h2>
                <p>@Model.ServicesDescription</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @{ 
                Html.RenderAction("_Services");
            }
        </div>
    </div>
</section>

<section class="hp-section" style="background-color: #f8f9fa !important">
    <div class="container">
        <div class="row no-gutters justify-content-center">
            <div class="col-md-7 text-center heading-section">
                <span class="subheading">Prédicas</span>
                <h2 class="mb-4">
                    <a href='@Url.Action("Index","Sermons")' style="color: black;">
                        @Model.SermonsTitle
                    </a>
                </h2>
                <p>@Model.SermonsDescription</p>
            </div>
        </div>
        <div class="row justify-content-center">
            @{
                //Html.RenderAction("_YouTubeVideos");
                Html.RenderAction("_Sermons");
            }
        </div>
        <div class="row justify-content-center">
            @Html.ActionLink("Ver más...", "Index", "Sermons", null, htmlAttributes: new { @class = "button alt" })
        </div>
    </div>
</section>
@if (ViewBag.Note == true)
{
    <script type="text/javascript">
        $(document).ready(function () {
            $('#ModalMessage').modal('show');
        });
    </script>
    <div class="modal fade" id="ModalMessage">
        <div class="modal-dialog modal-dialog-centered modal-xl" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="card bg-light">
                        <article class="card-body">
                            @{ 
                                Html.RenderAction("_InitialNote", "Notes");
                            }
                        </article>
                    </div>
                </div>
            </div>
        </div>
    </div>
}