@model IEnumerable<ET.Services>

@{
    ViewBag.Title = "Servicios";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}


@if (ViewBag.Write == true)
{
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script type="text/javascript">
        function AddNew() {
            var url = '@Url.Action("AddNew")';
            window.open(url, '_blank', 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
        }
        function Edit(ServiceID) {
            var url = '@Url.Action("Edit", new { id = "ID"})';
            url = url.replace("ID", ServiceID)
            window.open(url, '_blank', 'left=100,top=100,width=500,height=650,toolbar=1,resizable=0');
        }
        function Activate(ServiceID) {
            $.ajax({
                url: '@Url.Action("ChangeStatus")',
                data: { id: ServiceID }
            }).done(function () { location.reload(); });
        }
        function Desactivate(ServiceID) {
            var x = confirm("Esta seguro que quiere deshabilitar este Servicio???");
            if (x) {
                $.ajax({
                    url: '@Url.Action("ChangeStatus")',
                    data: { id: ServiceID }
                }).done(function () { alert('Hecho!!!'); location.reload(); });
            }
        }
    </script>
    <section class="hp-section">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <h2 class="heading-section font-weight-bold my-2 p-0">@ViewBag.Title</h2>
            </div>
            <div class="row justify-content-start">
                <table class="table-responsive-xl align-content-center p-0">
                    <tbody>
                        <tr class="align-middle">
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.Order)</th>
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceIcon)</th>
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceName)</th>
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceDescription)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ControllerLink)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ActionLink)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ActiveFlag)</th>
                            <th class="py-2 text-center align-middle" colspan="2">Acción</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                 <td class="text-center align-middle">@Html.DisplayFor(modelItem => item.Order)</td>
                                <td class="align-middle">
                                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                                        <div class="media block-6 services d-block text-center">
                                            <div class="d-flex justify-content-center">
                                                <div class="icon d-flex justify-content-center m-0">
                                                    <span class='align-self-center @item.ServiceIcon fa-4x'></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ServiceName)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ServiceDescription)</td>
                                @{
                                    var Editflag = "EditFlag" + item.ServiceID.ToString();
                                    var Status = item.ActiveFlag ? "Habilitado" : "Inhabilitado";
                                }

                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => item.ControllerLink)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => item.ActionLink)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => Status)
                                </td>
                                <td class="text-center align-middle">
                                    @if (item.ActiveFlag == false)
                                    {

                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $("#@Editflag").hover(function () {
                                                    $(this).removeClass('fas fa-times-circle fa-2x DisactiveColor');
                                                    $(this).addClass('fas fa-check-circle fa-2x ActiveColor');
                                                }, function () {
                                                    $(this).removeClass('fas fa-check-circle fa-2x ActiveColor');
                                                    $(this).addClass('fas fa-times-circle fa-2x DisactiveColor');
                                                });
                                            });
                                        </script>
                                        <a href="#" class="card-link" onclick="Activate(@item.ServiceID)" title="Habilitar"><i id="@Editflag" class="fas fa-times-circle fa-2x DisactiveColor" ></i></a>
                                    }
                                    else
                                    {
                                        <script type="text/javascript">
                                            $(document).ready(function () {
                                                $("#@Editflag").hover(function () {
                                                    $(this).removeClass('fas fa-check-circle fa-2x ActiveColor');
                                                    $(this).addClass('fas fa-times-circle fa-2x DisactiveColor');
                                                }, function () {
                                                    $(this).removeClass('fas fa-times-circle fa-2x DisactiveColor');
                                                    $(this).addClass('fas fa-check-circle fa-2x ActiveColor');
                                                });
                                            });
                                        </script>
                                        <a href="#" class="card-link" onclick="Desactivate(@item.ServiceID)" title="Deshabilitar"><i id="@Editflag" class="fas fa-check-circle fa-2x ActiveColor" ></i></a>
                                    }
                                </td>
                                <td class="text-center align-middle">
                                    <a href='#' target="_blank" class="card-link" onclick="Edit(@item.ServiceID)" title="Editar"><i class="fas fa-edit fa-2x" style="vertical-align: middle; color: green;"></i></a>
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
            <div class="row">
                <div class="p-0">
                    <div class="media services d-block text-justify">
                        <div class="media-body p-0 m-0">
                            <div class="d-flex justify-content-between">
                                <a href="#" onclick="AddNew()" title="Agregar un nuevo Servicio" class="btn btn-light" style="text-decoration: none;"><i class="fas fa-plus-square fa-1x"></i> Agregar un nuevo Servicio</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
else
{
    <section class="hp-section">
        <div class="container">
            <div class="row justify-content-center mb-2">
                <h2 class="heading-section font-weight-bold my-2 p-0">@ViewBag.Title</h2>
            </div>
            <div class="row justify-content-start">
                <table class="table-responsive-xl align-content-center p-0">
                    <tbody>
                        <tr class="align-middle">
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceIcon)</th>
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceName)</th>
                            <th class="py-2 align-middle">@Html.DisplayNameFor(model => model.ServiceDescription)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ControllerLink)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ActionLink)</th>
                            <th class="py-2 text-center align-middle">@Html.DisplayNameFor(model => model.ActiveFlag)</th>
                        </tr>
                        @foreach (var item in Model)
                        {
                            <tr>
                                <td class="align-middle">
                                    <div class="col-md-6 col-lg-3 d-flex align-self-stretch">
                                        <div class="media block-6 services d-block text-center">
                                            <div class="d-flex justify-content-center">
                                                <div class="icon d-flex justify-content-center m-0">
                                                    <span class='align-self-center @item.ServiceIcon fa-4x'></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ServiceName)</td>
                                <td class="align-middle">@Html.DisplayFor(modelItem => item.ServiceDescription)</td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => item.ControllerLink)
                                </td>
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => item.ActionLink)
                                </td>
                                @{
                                    var Editflag = "EditFlag" + item.ServiceID.ToString();
                                    var Status = item.ActiveFlag ? "Habilitado" : "Inhabilitado";
                                }
                                <td class="text-center align-middle">
                                    @Html.DisplayFor(modelItem => Status)
                                </td>                                
                            </tr>
                        }
                    </tbody>
                </table>
            </div>            
        </div>
    </section>
}
