
@using System.Configuration

<div class="site-footer">
    <div class="container">
        <hr style="background: white;" />
        <div class="row justify-content-center text-black mt-3">
            <div class="col-md-4">
                <h3 class="footer-heading my-2 text-white font-weight-bolder">Sobre Nosotros</h3>
                <ul class="list-unstyled m-0 bg-transparent">
                    @{
                        Html.RenderAction("_FooterLeadership", "Leadership");
                    }
                </ul>
                <p class="m-0 pb-2">Si quieres saber mas sobre nuestra comunidad de fe, ingresa y se parte de esta linda familia.</p>
                @Html.ActionLink("Ver más...", "History", "Home", null, htmlAttributes: new { @class = "" })

                <h3 class="footer-heading mt-3 mb-2 text-white font-weight-bolder"><i class="fas fa-map-marker-alt"></i> Ubicación</h3>
                <p class="mb-0">200 Sureste de la Arrocera,<br>Pacto de Jocote, El Coyol,<br>Alajuela, Costa Rica</p>
                <a href="https://www.waze.com/ul?preview_venue_id=180748388.1807221737.2214951&navigate=yes" target="_blank" class="mb-0 text-decoration-none" title="Waze">
                    <i class="fab fa-waze" style="vertical-align: middle;"></i> <u>Ubicanos por Waze</u>
                </a>
                <br />
                <a href="https://goo.gl/maps/K8BZw51Zaya1gP9k7" target="_blank" class="mb-0 text-decoration-none" title="Google Maps">
                    <i class="fas fa-map-marked-alt" style="vertical-align: middle;"></i> <u>Ubicanos por Google Maps</u>
                </a>
            </div>
            <div class="col-md-4">
                <h3 class="footer-heading text-white my-2 font-weight-bolder">Ministerios</h3>
                <ul class="list-unstyled m-0">
                    @{
                        Html.RenderAction("_FooterMinistries", "Ministries");
                    }
                </ul>
            </div>
            <div class="col-md-4">
                <div class="col-md-12 p-0">
                    <h3 class="footer-heading my-2 text-white font-weight-bolder"><i class="far fa-clock"></i> Horario de Servicios</h3>
                    <p class="mb-0">
                        Jueves 7:00 PM - 9:00 PM <br>
                        Viernes de Jovenes - 7:00 PM <br>
                        Domingo 7:30 AM -9:30 AM <br>
                        Domingo 10:00 AM - 12:00 AM <br />
                        <a href="@Url.Action("Index", "UpcommingEvents", new { id = "Public" })" class="mb-0 text-decoration-none" title="Próximos eventos">
                            <i class="fas fa-calendar-alt" style="vertical-align: middle;"></i> <u>Ver mas...</u>
                        </a>
                    </p>

                    <h3 class="footer-heading mt-3 mb-2 text-white font-weight-bolder"><i class="fas fa-comments"></i> Contacto</h3>
                    <p class="mb-0">
                        <i class="fas fa-phone-alt"></i> +(506) 2433 6502
                    </p>
                    @{
                        var WhatsAppLink = "https://api.whatsapp.com/send?phone=" + ConfigurationManager.AppSettings["WhatsAppNumber"].ToString();
                        var EmailLink = "mailto:" + ConfigurationManager.AppSettings["AdminEmail"].ToString();
                    }
                    <a href="@EmailLink" target="_blank" class="mb-0 text-decoration-none" title="Email">
                        <i class="far fa-envelope" style="vertical-align: middle;"></i> <u>@ConfigurationManager.AppSettings["AdminEmail"].ToString()</u>
                    </a>
                    <br />
                    <a href="@WhatsAppLink" target="_blank" class="mb-0 text-decoration-none" title="WhatsApp">
                        <i class="fab fa-whatsapp" style="vertical-align: middle;"></i> <u>WhatsApp</u>
                    </a>

                    <h3 class="footer-heading mt-3 mb-2 text-white font-weight-bolder">Siguenos en...</h3>
                    <ul class="list-unstyled">
                        <li class="p-0"><a href="https://twitter.com/oasisalajuela" target="_blank" class="text-decoration-none" title="Twitter"><i class="fab fa-twitter-square fa-2x" style="vertical-align: middle;"></i> <span style="text-decoration: underline;">Twitter</span></a></li>
                        <li class="p-0"><a href="https://www.facebook.com/OasisAlajuela/" target="_blank" class="text-decoration-none" title="Facebook"><i class="fab fa-facebook-square fa-2x" style="vertical-align: middle;"></i> <span style="text-decoration: underline;">Facebook</span></a></li>
                        <li class="p-0"><a href="https://www.instagram.com/aes_oasis/" target="_blank" class="text-decoration-none" title="Instagram"><i class="fab fa-instagram-square fa-2x" style="vertical-align: middle;"></i> <span style="text-decoration: underline;">Instagram</span></a></li>
                        <li class="p-0"><a href="https://www.youtube.com/channel/UCsWIb3EobSzS-pNrPXvq7_A" target="_blank" class="text-decoration-none" title="YouTube"><i class="fab fa-youtube-square fa-2x" style="vertical-align: middle;"></i> <span style="text-decoration: underline;">YouTube</span></a></li>
                    </ul>
                </div>
            </div>
        </div>
        <hr class="my-4" style="background: white;"/>
        <div class="row justify-content-center mt-3">
            <div class="col-md-12 text-center text-black">
                <img src="~/Images/OasisNuevoLogo_Blanco.png" width="500" alt="Oasis Alajuela" style="max-width: 100%; height: auto;" />
                <p>
                    Oasis Alajuela &copy; @DateTime.Now.Year Derechos reservados
                </p>
            </div>
        </div>
    </div>
</div>
<div id="FootherBanner">
    <div class="marquee" role="banner">
        <div style="margin:15px; color: white;">
            @{
                Html.RenderAction("_News","Home");
            }
        </div>
    </div>
</div>