@using Microsoft.AspNet.Identity

@if (Request.IsAuthenticated)
{
    using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
    {
        @Html.AntiForgeryToken()
        <ul class="links">
            <li>
                <a href='@Url.Action("Details","Profile")' class="Menulinks align-middle" title="Perfil">
                    <i class="far fa-user"></i> Hola @User.Identity.GetUserName()!
                </a>
            </li>
            <li>
                @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Menu Principal", @class = "Menulinks" })
            </li>
            <li>
                @Html.ActionLink("Acerca de", "About", "Home", routeValues: null, htmlAttributes: new { title = "Acerca de", @class = "Menulinks" })
            </li>
            <li>
                @Html.ActionLink("Ministerios", "Index", "Ministries", routeValues: null, htmlAttributes: new { title = "Ministerios", @class = "Menulinks" })
            </li>            
            <li>
                <a href="javascript:document.getElementById('logoutForm').submit()" class="Menulinks">Cerrar Sesión</a>
            </li>
        </ul>
    }
}
else
{
    <ul class="links">
        <li>
            @Html.ActionLink("Inicio", "Index", "Home", routeValues: null, htmlAttributes: new { title = "Menu Principal", @class = "Menulinks" })
        </li>
        <li>
            @Html.ActionLink("Acerca de", "About", "Home", routeValues: null, htmlAttributes: new { title = "Acerca de", @class = "Menulinks" })
        </li>
        <li>
            @Html.ActionLink("Ministerios", "Index", "Ministries", routeValues: null, htmlAttributes: new { title = "Ministerios", @class = "Menulinks" })
        </li>        
        <li>
            @Html.ActionLink("Registrarse", "Register", "Account", routeValues: null, htmlAttributes: new { id = "registerLink", @class = "Menulinks" })
        </li>
        <li>
            @Html.ActionLink("Accesar", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink", @class = "Menulinks" })
        </li>
    </ul>
}
