<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/png" href="~/Images/LOGO PNG-FONDO NEGRO.png" />
    <title>@ViewBag.Title</title>

    <link href="~/Content/bootstrap.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/all.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/main.css" rel="stylesheet" />
    <link href="~/Content/font-awesome/css/fontawesome.min.css" rel="stylesheet" />
    <link href="~/Content/Site.css" rel="stylesheet" />
    <link href="~/Content/flaticon.css" rel="stylesheet" />

    @Scripts.Render("~/bundles/modernizr")
</head>

<body>
    <!-- Header -->
    <section id="two" class="wrapper style3 py-2">
        <header class="alt">
            <div class="mx-2">
                <a class="text-black" style="font-size: 0.75em;">
                    <img src="~/Images/LOGO PNG-FONDO BLANCO.png" width="50" class="align-middle"/>
                    Auditorio del Espíritu Santo <strong class="text-black">Oasis Alajuela</strong>
                </a>
            </div>
        </header>
    </section>
    <!-- Body -->
    <section id="three" class="container body-content" style="padding: 0 !important; margin:0 !important; width: 100% !important;">
        @RenderBody()
    </section>

    <!-- Footer -->
    <footer>
        @Html.Partial("_AdminFooter")
    </footer>

    <script src="~/Content/font-awesome/js/jquery.min.js"></script>
    <script src="~/Content/font-awesome/js/jquery.scrollex.min.js"></script>
    <script src="~/Content/font-awesome/js/skel.min.js"></script>
    <script src="~/Content/font-awesome/js/util.js"></script>
    <script src="~/Content/font-awesome/js/main.js"></script>
    <script src="~/Scripts/jquery-3.5.0.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")

    @RenderSection("scripts", required: false)
</body>
</html>
