@using OasisAlajuelaWebSite.Models
@model OasisAlajuelaWebSite.Models.MultiSelectNewNote

@{
    ViewBag.Title = "Nueva Nota";
    Layout = "~/Views/Shared/_PupopLayout.cshtml";
}
<script src="~/Scripts/jquery-3.5.0.js"></script>

<script type="text/javascript">
    $(document).ready(function () {
        var flag = '@(Model.ActionType)';
        if (flag == "CREATE") {
            window.close();
        }
    });
</script>

<link href="~/Content/bootstrap-select.min.css" rel="stylesheet" />
<style>
    .button {
        margin: 0 !important;
        height: 3rem !important;
    }
</style>
<div class="card bg-light">
    <article class="card-body">
        <h3 class="heading-section font-weight-bold m-0 p-0 align-center">
            @ViewBag.Title
        </h3>
        <hr />
        @using (Html.BeginForm("AddNew", "Notes", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger m-0" })
                <div class="form-group">
                    @Html.Label("Usuarios", htmlAttributes: new { @class = "control-label col-md-2 p-0", @style = "max-width: 100%;" })
                    <div class="input-group">
                        <div class="input-group-prepend">
                            <span class="input-group-text"><i class="fas fa-search"></i></span>
                        </div>
                        @Html.DropDownListFor(m => m.SelectedMultiId, this.ViewBag.UsersList as SelectList, new { @class = "selectpicker form-control border", multiple = "true" })
                    </div>
                </div>
                 <div class="form-group">
                    <div class="input-group m-0 w-100">
                        <div class="input-group-prepend">
                            <span class="input-group-text font-weight-bold" id="inputGroup-sizing-default">Requiere Respuesta?</span>
                        </div>
                        @{
                            List<SelectListItem> ReservationRequire = new List<SelectListItem>();
                            ReservationRequire.Add(new SelectListItem() { Text = "Si", Value = "true" });
                            ReservationRequire.Add(new SelectListItem() { Text = "No", Value = "false" });
                        }
                        @Html.DropDownListFor(model => model.ResponseRequired, ReservationRequire, new { @class = "custom-select" , style = "max-width: 70px;"})
                        @Html.ValidationMessageFor(model => model.ResponseRequired, "", new { @class = "text-danger" })
                    </div>               
                </div>
                <div class="form-group">
                    @Html.LabelFor(model => model.RequestNote, htmlAttributes: new { @class = "control-label col-md-2 p-0", @style = "max-width: 100%;" })
                    <div class="col w-100 p-0">
                        @Html.TextAreaFor(model => model.RequestNote, 5, 1, new { @class = "form-control", @maxlength = 300 } )
                        <span id="charsLeft">Máximo 300 carácteres. </span>
                        <script type="text/javascript">
                            $(function () {
                                $("#RequestNote").keyup(function () {
                                    var charsLeft = $(this).attr("maxlength") - $(this).val().length;
                                    $("#charsLeft").text("Quedan " + charsLeft + " carácteres.");
                                });
                            });
                        </script>
                        @Html.ValidationMessageFor(model => model.RequestNote, "", new { @class = "text-danger" })
                    </div>
                </div>
                <div class="form-group">
                    <div class="mx-0">
                        <input type="submit" value="Enviar" class="btn btn-dark alt mt-0 mb-2" />
                        <input type="button" value="Cancelar" class="btn btn-dark alt mt-0 mb-2" onclick="javascript: window.close();" />
                    </div>
                </div>
            </div>
        }
    </article>
</div>

@section Scripts
{
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <script src="~/Scripts/bootstrap-select.min.js"></script>
}